<!doctype html>
<html>
	<head><title>Blog Edit Page</title></head>
<body>
{% block body %}
	<h2>Edit Blog Entry</h2>
	{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
	<form action="{{ url_for('update_entry') }}" method="post">
		<dl>
			<dt>Entry Title:
			<dd><input type="text" name="posttitle" value="{{ entry[0].title }}"></input>
			<dt>Entry Content:
			<dd><textarea name="postcontent" rows="5" cols="40">{{ entry[0].text }}</textarea>
			<dd><input type="submit" value="Make Entry">
			<dd><input type="hidden" name="id" value="{{ post_id }}"></input>
		</dl>
	</form>
{% endblock %}
</body>
</html>