<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Nathan LeClaire:  Design.  Develop.  Innovate.</title>
  <meta name="description" content="This is the website of web developer Nathan LeClaire.">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../static/css/style.css">

  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="../static/js/vendor/modernizr-2.5.3.min.js"></script>
</head>
<body>
<div id="main">
  <div id="headerbg">
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div id="header">
  <!-- Add your site or application content here -->
  <div id="logo">Nathan LeClaire</div>
  	<h2>Design.  Develop.  Innovate.</h2>

<a href="http://github.com/nathanleclaire">
  	<img id="githubribbon" src="../static/img/ghribbon.png" alt="Fork me on GitHub">
</a>
</div>
</div>

<div class="blog-entry">
{% for entry in entries %}
  <h3>{{ entry.title }}</h3>
  <p>{{ entry.text|safe }}</p>
{% else %}
  <p>No entries so far.</p>
{% endfor %}
</div>

</div>
  <!-- JavaScript at the bottom for fast page loading: http://developer.yahoo.com/performance/rules.html#js_bottom -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.7.2.min.js"><\/script>')</script>

</body>
</html>
