<!doctype html>
<html>
<head>
	<title>Edit Entries</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<div class="blogg">
  <div class="read">
    {% for entry in entries %}
    <div class="entree">
     <div class="heading"><strong class="readid"> {{ entry.id }} </strong> {{ entry.title }}</div>
     <p>{{ entry.text }}</p>
      	<a href="edit_entry/{{ entry.id }}">Edit Entry</a>
      	<a href="delete_entry/{{ entry.id }}" class="separate">Delete Entry</a>
      </div>

    {% else %}
      <p>No entries so far.</p>
    {% endfor %}
  </div>
</div>
<div id="befooter"><a href="/make_entry">Make New Entry</div>
